.sd-image-parser-link {
  font-size: 13px;
  text-decoration: none;
  border: 1px solid var(--primary-600);
  transition: color 0.2s ease !important;
  padding: 2px 3px;
  margin: 3px 0;
  background-color: var(--panel-background-fill);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50ch;
}

.sd-image-parser-link:hover {
  color: var(--primary-400) !important;
  border: 1px solid var(--link-text-color-hover);
}

.sd-image-parser-nonlink {
  font-size: 14px;
  border: 1px solid transparent;
  padding: 2px 3px;
  margin: 3px 0;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
}

.sd-image-parser-modeloutput-line {
  display: flex;
  padding: 0px;
  margin-bottom: 5px;
  border-radius: 5em;
  box-shadow: 0 0 4px 1px #000;
}

.sd-image-parser-modeloutput-label,
.sd-image-parser-modeloutput-hashes {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  white-space: normal;
  box-sizing: border-box;
  box-shadow: inset 0 0 3px 1px var(--primary-400), 0 0 1px 0 var(--primary-400);
}

.sd-image-parser-modeloutput-label {
  width: 16%;
  background-color: var(--input-background-fill);
  font-size: 15px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  align-items: center;
  justify-content: center;
}

.sd-image-parser-modeloutput-hashes {
  width: 84%;
  overflow-wrap: break-word;
  column-gap: 7px;
  row-gap: 0px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  align-items: flex-start;
  margin-left: 5px;
}
