:root {
  --sd-img-parser-modeloutput-box-shadow: 0 0 4px 0 rgb(0 0 0 / 55%);
  --sd-img-parser-modeloutput-background: rgb(255 255 255 / 20%);
  --sd-img-parser-modeloutput-background-hover: rgb(255 255 255 / 50%);
}

.dark {
  --sd-img-parser-modeloutput-background: rgb(0 0 0 / 40%);
  --sd-img-parser-modeloutput-background-hover: rgb(0 0 0 / 60%);
}

#SD-Image-Parser-Model-Output {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: auto;
  height: auto;
  cursor: default;
  pointer-events: auto;
  transition: .3s ease;
}

#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-line {
  display: flex;
  gap: 8px;
  min-height: 36px;
  padding: 0px;
  border-radius: 1rem;
}

#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-label,
#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-hashes {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  white-space: normal;
  box-sizing: border-box;
  opacity: 0;
  transition: .3s ease, opacity 1s ease;
}

#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-label.sd-image-parser-display,
#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-hashes.sd-image-parser-display {
  opacity: 1;
}

#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-label {
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  font-size: 15px;
  min-width: calc(16% - 8px);
  width: calc(16% - 8px);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-shadow: 0 0 3px 1px #000;
  background-color: var(--input-background-fill);
}

#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-hashes {
  column-gap: 10px;
  row-gap: 8px;
  overflow-wrap: break-word;
  align-items: center;
  position: relative;
  min-width: 84%;
  width: 84%;
  border: 0;
  border-radius: 0 1rem 1rem 0;
  padding: 4px 10px;
  box-shadow: var(--sd-img-parser-modeloutput-box-shadow);
  background: var(--sd-img-parser-modeloutput-background);
}

#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-hashes .sd-image-parser-link,
#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-hashes .sd-image-parser-nonlink {
  display: block;
  white-space: nowrap;
  text-decoration: none !important;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  min-height: 26px;
  max-width: 50ch;
  margin: 0;
  border: 0 !important;
  color: var(--body-text-color) !important;
  overflow: hidden;
  outline: none;
}

#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-hashes:hover {
  background: var(--sd-img-parser-modeloutput-background-hover);
}

#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-hashes .sd-image-parser-link {
  --a: inset 0 0 0 1px !important;
  padding: 3px 6px;
  box-shadow: var(--a) var(--primary-500);
  background: var(--input-background-fill) !important;
}

#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-hashes .sd-image-parser-link:hover {
  box-shadow: var(--a) transparent, 0 0 10px 0px var(--primary-400);
  color: var(--background-fill-primary) !important;
  background: var(--primary-400) !important;
}

#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-hashes .sd-image-parser-nonlink {
  word-wrap: break-word;
  padding: 3px;
}

#SDHub-Gallery-Tab .sdhub-gallery-imageinfo-display-model-output {
  animation: undressBox 1.5s forwards ease;
}

@keyframes undressBox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  #SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-label {
    min-width: calc(18% - 8px);
    width: calc(18% - 8px);
  }

  #SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-hashes {
    min-width: 82%;
    width: 82%;
  }
}