:root {
  --sd-img-parser-modeloutput-box-shadow: inset 0 0 4px 0 rgb(176 176 176 / 30%), 0 0 5px 0 rgb(5 5 5 / 75%);
  --sd-img-parser-modeloutput-background: rgb(255 255 255 / 20%);
  --sd-img-parser-modeloutput-background-hover: rgb(255 255 255 / 50%);
}

.dark {
  --sd-img-parser-modeloutput-background: rgb(0 0 0 / 40%);
  --sd-img-parser-modeloutput-background-hover: rgb(0 0 0 / 60%);
}

#SD-Image-Parser-Model-Output {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: auto;
  height: auto;
  cursor: default;
  pointer-events: auto;
  transition: 0.3s ease;
}

#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-line {
  display: flex;
  padding: 0px;
  gap: 8px;
  border-radius: 1rem;
}

#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-label,
#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-hashes {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  white-space: normal;
  box-sizing: border-box;
  opacity: 0;
  transition: .3s ease, opacity 1s ease;
}

#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-label.sd-image-parser-modeloutput-display,
#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-hashes.sd-image-parser-modeloutput-display {
  opacity: 1;
}

#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-label {
  align-items: center;
  justify-content: center;
  font-size: 15px;
  min-width: calc(16% - 8px);
  width: calc(16% - 8px);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-shadow: 0 0 3px 1px #000;
  background-color: var(--input-background-fill);
}

#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-hashes {
  column-gap: 10px;
  row-gap: 3px;
  overflow-wrap: break-word;
  align-items: flex-start;
  position: relative;
  min-width: 84%;
  width: 84%;
  border: 0;
  border-radius: 0 1rem 1rem 0;
  padding: 3px 10px;
  box-shadow: var(--sd-img-parser-modeloutput-box-shadow);
  background: var(--sd-img-parser-modeloutput-background);
  backdrop-filter: blur(5px);
}

#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-hashes:hover {
  background: var(--sd-img-parser-modeloutput-background-hover);
}

#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-hashes .sd-image-parser-link {
  text-decoration: none !important;
  text-overflow: ellipsis;
  font-size: 13px;
  font-weight: normal;
  white-space: nowrap;
  max-width: 50ch;
  border: 1px solid var(--primary-500) !important;
  padding: 2px 7px;
  margin: 3px 0;
  color: var(--body-text-color) !important;
  background: var(--input-background-fill) !important;
  transition: .1s ease-out;
  overflow: hidden;
}

#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-hashes .sd-image-parser-link:hover {
  border-color: var(--primary-500) !important;
  box-shadow: 0 0 10px 0px var(--primary-400);
  color: var(--background-fill-primary) !important;
  background: var(--primary-400) !important;
}

#SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-hashes .sd-image-parser-nonlink {
  white-space: normal;
  word-wrap: break-word;
  font-size: 14px;
  border: 1px solid transparent;
  padding: 2px 3px;
  margin: 3px 0;
  color: var(--body-text-color);
  overflow: hidden;
}

#SDHub-Gallery-Tab .sdhub-gallery-imageinfo-display-model-output {
  animation: undressBox 1.5s forwards ease;
}

@keyframes undressBox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  #SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-label {
    min-width: calc(18% - 8px);
    width: calc(18% - 8px);
  }

  #SD-Image-Parser-Model-Output .sd-image-parser-modeloutput-hashes {
    min-width: 82%;
    width: 82%;
  }
}